# TODO: when the mongo uri is worng the server still starts and goes into infinnite load when andy request is made
# TODO: need to look into async nature of mongo here and the fast api

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DB=easyworkflow
WORKFLOW_COLLECTION=workflows
NOTIFICATION_COLLECTION=notifications
USER_COLLECTION=users
VERSION_COLLECTION=versions
RCA_COLLECTION=rca_events
LOG_COLLECTION=logs

# Docker Images
PIPELINE_IMAGE=backend-pipeline:latest
POSTGRES_IMAGE=backend-postgres:latest
AGENTIC_IMAGE=backend-agentic:latest

# Port of the servers inside their respective containers
PIPELINE_CONTAINER_PORT=8000/tcp
PIPELINE_ERROR_INDEXING_PORT=11111/tcp
AGENTIC_CONTAINER_PORT=5333/tcp

# Auth Configs
SECRET_KEY="your_secret_key_here"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60  # 1 hour
REFRESH_TOKEN_EXPIRE_MINUTES=43200 #30 days

# Postgres Configuration (for container management)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123

# WebSocket Configuration
WS_INACTIVITY_TIMEOUT=300
WS_CLEANUP_INTERVAL=60

# Environment Configuration
DYNAMIC_PORTS=true
ENVIRONMENT=dev

# Slack Configuration
SLACK_TOKEN=your_slack_bot_token

GROQ_API_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true

PATHWAY_LICENSE_KEY=PATHWAY_LICENSE_KEY